.twentyfourteen .tfwc {
    margin: 0 auto;
    max-width: 474px;
    padding: 12px 10px 0;
}
.twentyfourteen .tfwc .recipe .entry-summary {
    margin: 0 0 1.618em !important;
    padding: 0 !important;
}
.twentyfourteen .tfwc div.recipe.hentry.has-post-thumbnail {
    margin-top: 0;
}
.twentyfourteen .tfwc .recipe .images img {
    margin-bottom: 1em;
}
@media screen and (min-width: 673px) {
    .twentyfourteen .tfwc {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 1040px) {
    .twentyfourteen .tfwc {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 1110px) {
    .twentyfourteen .tfwc {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width: 1218px) {
    .twentyfourteen .tfwc {
        margin-right: 54px;
    }
    .full-width .twentyfourteen .tfwc {
        margin-right: auto;
    }
}
.twentyfifteen .t15wc {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 7.6923%;
    padding-left: 7.6923%;
    padding-right: 7.6923%;
    padding-top: 7.6923%;
}
.twentyfifteen .t15wc .page-title {
    margin-left: 0;
}
@media screen and (min-width: 38.75em) {
    .twentyfifteen .t15wc {
        margin-left: 7.6923%;
        margin-right: 7.6923%;
        margin-top: 8.3333%;
    }
}
@media screen and (min-width: 59.6875em) {
    .twentyfifteen .t15wc {
        margin-left: 8.3333%;
        margin-right: 8.3333%;
        padding: 10%;
    }
    .single-recipe .twentyfifteen .entry-summary {
        padding: 0 !important;
    }
}