.recipe-shortcode {
  .recipe-title {
    display: inline;
    margin: 0 0 1em;
  }
  .recipe-image {
    max-width: 100%;
    margin: 2%;
    margin-right: 0;
    text-align: center;
    @media screen and (min-width: 480px) {
      float: right;
      max-width: 25%;
    }
    @media screen and (min-width: 1281px) {
      float: right;
      max-width: 40%;
    }
  }
}
